@import '../../../styles/colors.scss';
@import '../../../styles/sizes.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $almost-white;
  min-height: 100vh;
  padding: 1rem 3rem;

  & > :nth-child(1) {
    padding: 2rem 0;
    align-self: flex-start;
  }

  .cards-container {
    display: flex;
    flex-direction: column-reverse;

    .form-container {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      & > :last-child {
        margin-top: 2rem;
        align-self: stretch;
      }
    }
  }
}

@media (min-width: $desktop-min) {
  .container {
    min-height: calc(100vh - 6rem);
    flex-direction: column;
    padding: 5rem 15% 0;

    & > :nth-child(1) {
      align-self: flex-start;
      padding: 1rem 0;
    }

    .cards-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-top: 3rem;

      .form-container {
        flex: 2;
        margin: 0 5% 0 0;

        & > :last-child {
          align-self: flex-end;
          margin-top: 2rem;
        }
      }

      & > :nth-child(2) {
        flex: 1;
      }
    }
  }
}
