@import '../../../styles/colors.scss';
@import '../../../styles/sizes.scss';

.fab {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50px;
  background-color: $primary-color;
  box-shadow: 2px 2px 2px 2px $primary-color;
}

@media (min-width: $desktop-min) {
  .fab {
    display: none;
  }
}
