@import '../../../styles//colors.scss';

.container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  min-width: 20rem;
  padding-top: 3rem;

  &.left {
    box-shadow: -5px 0 7px 3px $primary-color;
  }

  &.right {
    border-left: 1px solid $primary-color;
  }
}
