@import '../../../styles/colors';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  padding: 0.8em 2em;
  cursor: pointer;
  background-color: inherit;

  &.primary {
    background-color: $primary-color;
    color: $white;
    font-weight: bold;

    &:hover {
      background-color: $primary-color-hovered;
    }

    &:disabled {
      background-color: $light-gray;
      color: $gray;
      cursor: not-allowed;
    }
  }

  &.outlined {
    background-color: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }

  &.text {
    color: $primary-color;
    font-weight: bold;
    padding: 0 1rem;
    font-size: 1.4rem;
  }

  &.white {
    color: $white;
  }

  &.square {
    font-size: 1.2rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    padding: 0;
  }

  &.margin {
    margin: 2rem;
  }

  &.center {
    align-self: center;
  }

  &.right {
    align-self: flex-end;
  }
}
