@import '../../../styles/colors.scss';
@import '../../../styles/sizes.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem;

  .name {
    font-size: 1.5rem;
    color: $primary-color;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }

  .products-container {
    display: flex;
    flex-direction: column;

    & > :nth-child(n) {
      margin-bottom: 2rem;
    }
  }
}

@media (min-width: $desktop-min) {
  .container {
    .name {
      border-bottom: 1px solid $primary-color;
    }
    .products-container {
      flex-direction: row;
      flex-wrap: wrap;

      & > :nth-child(n) {
        margin: 1rem 2rem 2rem 0;
      }
    }
  }
}
