@import '../../../styles/colors.scss';

.container {
  display: flex;
  padding-top: 6rem;
  background-color: $almost-white;
  min-height: 100vh;

  & > :nth-child(1) {
    flex-basis: 15%;
  }

  & > :nth-child(2) {
    flex-basis: 65%;
  }

  & > :nth-child(3) {
    flex-basis: 20%;
  }

  .list {
    padding: 2rem 3rem;

    .list-item {
      color: $primary-color;
      font-size: 1.4rem;
      padding: 1rem 0;
    }
  }

  .product-catalog {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    height: calc(100vh - 6rem);
    overflow: auto;
  }

  .order-summary-title {
    padding-top: 1rem;
    text-align: center;
  }
}
