@import '../../../styles/colors.scss';

.container {
  display: flex;
  padding-top: 6rem;
  background-color: $almost-white;
  min-height: 100vh;

  .product-catalog {
    display: flex;
    align-items: flex-start;
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 3rem 2rem;

    & > :nth-child(n) {
      margin: 2rem;
    }
  }
}
