@import '../../../styles/colors.scss';
@import '../../../styles/sizes.scss';

.container {
  display: flex;
  flex-direction: column;

  & > :nth-child(1) {
    display: flex;
  }

  & > :nth-child(2) {
    flex-basis: 65%;
  }

  & > :nth-child(3) {
    display: none;
  }

  .product-catalog {
    display: flex;
    flex-direction: column;
    padding: 6rem 0 0;
    height: calc(100vh - 6rem);
    overflow: auto;
  }

  .order-summary-title {
    padding: 1rem 0;
    text-align: center;
  }
}

@media (min-width: $desktop-min) {
  .container {
    flex-direction: row;

    & > :nth-child(1) {
      flex: 1;
    }

    & > :nth-child(2) {
      flex: 8;
    }

    & > :nth-child(3) {
      display: flex;
      flex: 3;
    }

    .product-catalog {
      padding: 2rem;
    }
  }
}
