@import '../../../styles/colors.scss';

.show-cart-mobile {
  position: relative;
  top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  width: 90vw;

  .label,
  .badge,
  .cost {
    color: $white;
    font-size: 1.4rem;
  }

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid $white;
    border-radius: 50px;
  }

  .label {
    font-weight: bold;
    white-space: nowrap;
  }
}
