.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  .title {
    text-align: center;
    font-size: 1.6rem;
    padding: 2rem 0 1rem;
  }

  .buttons-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    padding: 1rem 0;

    & > :first-child {
      margin-right: 1rem;
    }
  }
}
