@import '../../styles/colors.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  .block {
    display: flex;

    .buttons-container {
      margin-left: 1rem;
      display: flex;

      & > :first-child {
        margin-right: 0.5rem;
      }
    }
  }

  .name,
  .price {
    display: flex;
    align-items: center;
  }

  .name {
    font-size: 1.3rem;
  }

  .price {
    margin-left: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
}
