@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  & > button {
    align-self: flex-end;
  }

  .total {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid $black;
    text-align: end;
    font-weight: bold;
  }
}
