@import '../../../styles/colors.scss';

.card {
  border-radius: 10px;
  box-shadow: 0 0 5px -3px $primary-color;
}

.padding-h1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.padding-v2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.min-300 {
  min-width: 30rem;
}
